
<div>
    <h1>MI APP EN ANGULAR</h1>
    <p>{{title}}</p>
    <ul>
      <li *ngFor="let task of lista(); index as i">
       {{i}} . {{task}}
      </li>
    </ul>
    <p>Size del array: {{lista().length}}</p>
  </div>
<hr>
<h2>{{4 * 2 }}</h2>
<hr>
<img class="foto" [src]="img" alt="es una imagen">
<hr>
<div>
  <h2>Persona</h2>
  <p>{{persona.nombre}}</p>
  <p>{{persona.edad}}</p>
</div>
<!-- es una property binding -->
<hr>
<button id="clickeame" (click)="clickHandler()">CLICK</button>
<button id="clickeame" (dblclick)="clickHandler()">DOUBLE CLICK</button>

<input type="text" (change)="onchangeHandler($event)">

<input type="number" (keydown)="kedown($event)">