
<!-- <div>
    <h1>MI APP EN ANGULAR</h1>
    <p>{{title}}</p>
    <ul>
      
      @for(item of lista(); track item){
        <li>{{item}}</li>
      }
    </ul>
    <p>Size del array: {{lista().length}}</p>
  </div>
<hr>
<h2>{{4 * 2 }}</h2>
<hr>
<img class="foto" [src]="img" alt="es una imagen">
<hr>
<div>
  <h2>Persona</h2>
  <p>{{persona().nombre}}</p>
  <p>{{persona().edad}}</p>
</div>

<hr>
<button id="clickeame" (click)="clickHandler()">CLICK</button>
<button id="clickeame" (dblclick)="clickHandler()">DOUBLE CLICK</button>

<input type="text" (change)="onchangeHandler($event)">

<input type="number" (keydown)="kedown($event)">

<hr>
<div *ngIf="1 == 1">
  <h2>Mostrar</h2>
  <p>Este parrafo se muestra si mostrar es true</p>
</div>
<input type="number" [value]="persona().edad" (change)="changeAge($event)">
<div *ngIf="persona().edad  > 18; else template">
   <h3>ESTA PERSONA ES MAYOR SI PUEDE PASAR TIENE {{persona().edad}}</h3>
</div>
<ng-template #template>
  <h2>ERES MENOR DE EDAD</h2>
</ng-template>
<hr>
<input type="color" [formControl]="colorCtrl">
<p>Color seleccionado : {{colorCtrl.value}}</p>
<svg>
  <g>
    <rect [attr.fill]="colorCtrl.value" x="10" y="10" width="100" height="100"></rect>
  </g>
</svg>
<hr>
<input type="number" [formControl]="size">
<span class="box" [style.width.px]="size.value"></span>

<hr> 
<img [src]="url" alt="dev python tiangolo" > -->
<div class="contenedor">
  @for(item of productos; track item.id){
    <div class="card">
      <img src={{item.image}} alt="Avatar"  style="width:100%">
      <div class="container">
        <h4><b>{{item.title}}</b></h4> 
        <p>{{item.description}}</p> 
      </div>
    </div>
  }
</div>

